.content {
    flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background: #639058;
  color: #fafafa;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: right;
}

.footer-text {
    text-align: right;
}

body {
    background-color: #d6b0b0;
}

.landing-page-image {
    position: relative;
    display: flex;
}

#picture-border {
    border: solid;
    border-width: 7px;
}

.frame-colour-button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.black-border {
    border-color: black;
}

.brown {
    background-color: brown;
}

#picture-border, .default-white {
    border-color: white;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
}