{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Blog{% endblock %}

{% block content %}
<h1>{{ blog.title }} - <small>{{ blog.post_date }}</small></h1>
<br/>
<hr>
{{ blog.body }}

<br/>
<hr>
<form action="{% url 'like_post' blog.pk %}" method="POST">
	{% csrf_token %}

    {% if liked %}
	    <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn btn-primary btn-sm">Like</button>
    {% endif %}
     {{ total_likes }} Likes
</form>

<br/>

<h2>Comments</h2>
<hr>
{% if not blog.comments.all %}
    No Comments yet...<a href="#">Add One</a>
{% else %}
    {% for comment in blog.comments.all %}
        <strong>
        {{ comment.name }}
        {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
        <hr>
        Add Comment
    {% endfor %}

{% endif %}

<a href="{% url 'all_blogs' %}" class="btn btn-outline-black rounded-0 mt-5">Back</a>



{% endblock %}