{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Blog{% endblock %}

{% block content %}

<div class="row">
    {% for blog in blogs %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }} </a><small>{{ blog.post_date }}</small></h5>
                        <p class="card-text">{{ blog.body}}</p>
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
   


{% endblock %} 