{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Blog{% endblock %}

{% block content %}
<h1>{{ blog.title }} - <small>{{ blog.post_date }}</small></h1>
<br/>
<hr>
{{ blog.body }}

<br/>
<hr>
<form action="{% url 'like_post' blog.pk %}" method="POST">
	{% csrf_token %}
	<button type="submit" name="blog_id" value="{{ blog.id }}" class="btn btn-primary btn-sm">Like</button> {{ total_likes }} Likes
</form>

<br/>

<h2>Comments</h2>

{% if not blog.comments.all %}
    No Comments yet...<a href="#">Add One</a>
{% else %}
    {% for comment in blog.comments.all %}
        {{ comment.name }}
        {{ comment.date_added }}
        <br/>
        {{ comment.body }}
    {% endfor %}

{% endif %}



{% endblock %}