{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center my-5">
            <div class="col-12">
                <h1>Feel free to get in touch</h1>
                <p class="text-center">If you are getting in touch regarding an isssue with an order please quote your booking
                                        reference number</p>
            </div>
        </div>

        <!-- <div class="container my-5 center-form">
            <div class="row">
                <div class="col-12">
                    <div class="center-form">
                        <form>
                            <input type="text" name="name" id="fullname" class="form-control my-2" placeholder="Name" required />
                            <input type="email" name="email" id="emailaddress" class="form-control my-2" placeholder="Email" required />
                            <textarea rows="5" name="message" id="message" class="form-control my-2" placeholder="Message" required></textarea>
                            <div class="form-row text-center">
                                <div class="col my-3">
                                    <button type="submit" class="btn btn-secondary contact-button">Send Request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->

     

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'index' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <button class="btn btn-black rounded-0" type="submit">Send message</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
        
    {% endblock %}