{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center my-5">
            <div class="col-12">
                <h1>Feel free to get in touch</h1>
                <p class="text-center">If you are getting in touch regarding an isssue with an order please quote your
                                        order number</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-1">
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}